body {
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
}

header h1 {
    font-size: 66.6px;
    color: #0a2ff1;
    font-weight: bold;
    text-align: left;
}

main {
    text-align: center;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

main p {
    font-size: 22.55pt;
    color: #0a2ff1;
    background-color: #eff2ff;
    padding: 10px;
    display: inline-block;
}

main p span {
    font-weight: bold;
}

button {
    font-size: 22.55pt;
    color: white;
    background-color: #8a9af1;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
}

.imagenes {
    display: flex;
    margin-top: 20px;
}

.imagenes img {
    width: 32%;
    height: auto;
    object-fit: cover;
    margin-bottom: 40px;

}

.footer-line {
    height: 5px;
    background-color: #3ffff3;
    width: 100%;  
    
}