<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vista 3 - Alumno recibe por parametros</title>
</head>
<body>
    <h1>Vista 3</h1>
    <h2>Clase Alumno: 
        <span th:text="${unAlumno}"></span>
    </h2><br>
    <h3>Atributos en particular</h3>
    <h3>Legajo: 
        <span th:text="${unAlumno.legajo}"></span>
    </h3>
    <h3>Nombre:
        <span th:text="${unAlumno.nombre}"></span>
    </h3>
    <h3>Edad:
        <span th:text="${unAlumno.edad}"></span>
    </h3>
</body>
</html>
